.git
.github
.gitignore
vendor/
node_modules/
.env
.env.backup
.DS_Store
Dockerfile
.dockerignore
docker-compose.yml
database/*.sqlite
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
public/storage
